.header {
  background-color: #1b1e20;
  padding: 1.5rem 3rem;
  position: fixed;
  width: 100%;
  .heading {
    display: inline;
    font-size: 1.5rem;
    color: #fcb205;
    cursor: pointer;
  }
}
